.images {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.image {
    /* max-width: fit-content; */
    /* max-height: fit-content; */
    max-height: 100%;
    object-fit: scale-down;
    padding: 1rem 0;
}

.flex-2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    overflow-y: scroll;
}